<div class="bg-black pb-10 rounded-t-[12rem] rounded-b-[12rem]">

    <div class="flex justify-around py-14 mt-8">
        <div class="flex flex-col">
        <h2 class="!text-2xl text-[rgb(229,75,47)] !font-medium" >COMPANY</h2>
        <div class="flex flex-col space-y-2">
            <a href="">Partners</a>
            <a href="">About</a>
            <a href="">Blog</a>
            <a href="">Jobs</a>
            <a href="">Press</a>
        </div>
        </div>
    
        <div class="flex flex-col">
            <h2 class="!text-2xl text-[rgb(229,75,47)] !font-medium" >SOLUTION</h2>
            <div class="flex flex-col space-y-2">
                <a href="">Marketing</a>
                <a href="">Analytics</a>
                <a href="">Commerce</a>
                <a href="">Insights</a>
                <a href="">Support</a>
            </div>
        </div>
    
        <div class="flex flex-col">
            <h2 class="!text-2xl text-[rgb(229,75,47)] !font-medium" >LEGAL</h2>
            <div class="flex flex-col space-y-2">
                <a href="">Privacy</a>
                <a href="">Claim</a>
                <a href="">Term</a>
                <a href="">Condition</a>
            </div>
        </div>
    
        <div class="flex flex-col">
            <h2 class="!text-2xl text-[rgb(229,75,47)] !font-medium" >DOCUMENTATION</h2>
            <div class="flex flex-col space-y-2">
                <a href="">API Status</a>
                <a href="">Guides</a>
            </div>
        </div>
    </div>

    <div class="flex justify-between items-center border-[0.8px] bg-[#151515] max-w-[1100px] h-14 mx-auto rounded-xl px-6">
        <p class="!m-0 ">Copyright 2025 &#64;Vastraa</p>
        <div class="flex items-center">
            <p class="!m-0 !mr-4 ">Terms of use</p>
            <p class="!m-0 ">Privacy Policy</p>
        </div>
    </div>

</div>
