<div (click)="navigate()" class="cursor-pointer transition-transform duration-300 hover:scale-105 hover:shadow-lg rounded p-2 bg-gray-900">
  <img class="mb-4 rounded w-full object-cover h-[316px]" [src]="product.imageUrl" alt="Kurta" />
  <p class="text-sm text-gray-400"> {{product.brand}} </p>
  <p class="font-semibold text-white"> {{product.title}} </p>
  <p class="text-sm text-gray-400"> {{product.color}} </p>
  <p class="text-green-400 font-bold mt-1">
    &#x20B9;{{product.discountedPrice}}
    <span class="line-through text-gray-500 ml-2">{{product.price}}</span>
    <span class="ml-2 text-green-500">{{product.disscount}}%</span>
  </p>
</div>

