<div>

    <div class="flex items-start justify-between bg-gray-900 p-6 rounded-md">

        <img class="rounded object-cover h-[130px]" src="https://rukminim1.flixcart.com/image/612/612/xif0q/jean/h/y/g/34-jeans-bt008-laheja-original-imagqqbsfgmdhcvn.jpeg?q=70" alt="Yellow Kurta" />
        <div>
            <p class="font-semibold">Men Solid Cotton Blend Straight Kurta</p>
            <p class="text-sm text-gray-400">Size: S, Yellow</p>
            <p class="text-sm text-gray-400 mb-1">Color: KSH Trendz</p>
        </div>
        <span class="text-lg font-bold text-white items-start">₹265</span>

        <div>
            <p class="font-semibold">Expected Delivery On Mar 03</p>
            <p>Your item Has Been Delivered</p>
        </div>

    </div>

</div>
