<div class="flex justify-between">

    <div class="w-[40%]">

        <div class="bg-gray-900 p-6 rounded shadow-md mb-6" *ngFor="let item of addresses">
            <app-address-card [address]="item" ></app-address-card>
            <button (click)="handleCreateOrder(item)" class="mt-4 bg-green-400 hover:bg-green-500 text-black px-4 py-2 rounded font-semibold">
              Deliver Here
            </button>
        </div>

    </div>

    <div class="w-[48%]">
        <form [formGroup]="myForm" (ngSubmit)="handleSubmit()"  class="bg-gray-900 p-8 rounded shadow-md space-y-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input formControlName="firstName" type="text" placeholder="First Name*" class="bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none" />
            <input formControlName="lastName" type="text" placeholder="Last Name*" class="bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none" />
          </div>
    
          <textarea formControlName="streetAddress" placeholder="Address*" rows="3" class="w-full bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none"></textarea>
    
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input formControlName="city" type="text" placeholder="City*" class="bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none" />
            <input formControlName="state" type="text" placeholder="State/Province/Region*" class="bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none" />
          </div>
    
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input formControlName="zipCode" type="text" placeholder="Zip / Postal code*" class="bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none" />
            <input formControlName="mobile" type="text" placeholder="Phone Number*" class="bg-gray-800 text-white p-2 rounded border border-gray-600 focus:outline-none" />
          </div>
    
          <button type="submit" class="w-full mt-4 bg-green-400 hover:bg-green-500 text-black py-2 rounded font-semibold">
            Deliver Here
          </button>
        </form>
    </div>



</div>

