<div class="bg-black py-6 px-24 gap-20 flex">
    <div class="cart-items w-[54%]">
        <div class="text-white px-8 pt-8 bg-[#00000022] rounded-md" style="box-shadow: 0 8px 16px rgba(36, 36, 36, 0.3), 0 -8px 16px rgba(36, 36, 36, 0.2), 8px 0 16px rgba(0,0,0,0.2), -8px 0 16px rgba(0,0,0,0.2);">
            <div *ngFor="let product of cart; let last=last">
                <app-cart-item showAddRemoveButton="true"></app-cart-item>
                <mat-divider *ngIf="!last" class="!mb-8"></mat-divider>
            </div>
        </div>
    </div>

    <div style="box-shadow: 0 8px 16px rgba(36, 36, 36, 0.3), 0 -8px 16px rgba(36, 36, 36, 0.2), 8px 0 16px rgba(0,0,0,0.2), -8px 0 16px rgba(0,0,0,0.2);" class="bg-black text-white p-6 rounded-md w-[32%] h-[20rem] space-y-4">

      <!-- Heading -->
      <p class="text-sm text-gray-400 font-semibold">PRICE DETAILS</p>
      <hr class="border-gray-700" />
    
      <!-- Price Items -->
      <div class="space-y-2">
        <div class="flex justify-between">
          <span>Total price</span>
          <span>₹4497</span>
        </div>
        <div class="flex justify-between">
          <span>Discount</span>
          <span class="text-green-500">-₹3413</span>
        </div>
        <div class="flex justify-between">
          <span>Delivery Charges</span>
          <span class="text-green-500">Free</span>
        </div>
      </div>
    
      <!-- Total Amount -->
      <hr class="border-gray-700" />
      <div class="flex justify-between font-semibold text-lg">
        <span>Total Amount</span>
        <span class="text-green-500">₹1084</span>
      </div>
    
      <!-- Checkout Button -->
      <button (click)="navigateToCheckout()" class="w-full bg-green-400 hover:bg-green-500 text-black py-2 font-semibold rounded">
        CHECKOUT
      </button>
    
    </div>

</div>
