<div class="py-6 px-24 bg-black">
    <p class="font-medium text-2xl text-[#ffffffc9] !mb-8"> Order Status </p>

    <div class="p-6 rounded-md shadow-[0_4px_12px_rgba(255,255,255,0.05)] ring-1 ring-gray-700">
        <p class="font-medium text-xl text-[#ffffffc9] !mb-4"> Shipping Address </p>
        <div>
            <app-address-card></app-address-card>
        </div>
    </div>

    <div class="mt-6">
        <div *ngFor="let orderItem of Orders">
            <app-order-card></app-order-card>
        </div>
    </div>

</div>
